# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production build output
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables files
.env*.local
.env

# IDE / Editor configurations
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
